# Virtual environment
helmetvenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks
notebooks/

# Logs
logs/

# Git
.git
.gitignore

# OS files
.DS_Store

# Optional: remove prediction outputs
runs/detect/predict/